<div class="container row">
  <div class="header__logo">
    <img src="{{ '/assets/images/icons/logo.svg' | url }}" alt="logo" inline>
  </div>
  <nav class="header__nav nav" id="header">
    <ul class="nav__list">
      <li class="nav__item"><a href="#header" class="nav__link">Home</a></li>
      <li class="nav__item"><a href="#art" class="nav__link">Artwork</a></li>
    </ul>
  </nav>
</div>
