<div class="container split row">
  <!-- <div> -->
  <img src="{{ '/assets/images/icons/logo.svg' | url }}" alt="logo" inline />
  <!-- </div> -->
  <nav id="header">
    <ul class="split row">
      <li><a href="#header">Home</a></li>
      <li><a href="#art">Artwork</a></li>
    </ul>
  </nav>
</div>
