<div class="container grid">
  <div class="hero__left">
    <h1 class="hero__heading">
      <span class="accent">Vincent</span> van Gogh
    </h1>
    <h3 class="hero__subheading">
      one of the most famous artists in the history of Western art.
    </h3>
    <p class="hero__text">
      Vincent Willem van Gogh was a Dutch post-impressionist painter who is among the most famous and influential figures in the history of Western art. In just over a decade, he created about 2,100 artworks, including around 860 oil paintings, most of which date from the last two years of his life. They include landscapes, still lifes, portraits and self-portraits, and are characterised by bold colours and dramatic, impulsive and expressive brushwork that contributed to the foundations of modern art. He was not commercially successful, and his suicide at 37 came after years of mental illness, depression and poverty.
    </p>
    <a href="https://www.vangoghmuseum.nl/en/" class="btn cta u-mt1">Learn More</a>
  </div>
  <div class="hero__right">
    <figure>
      <img src="{{ '/assets/images/gogh-portret.jpg' | url }}" alt="Self-Portrait with Grey Felt Hat - 1887">
      <figcaption>Self-Portrait with Grey Felt Hat - 1887</figcaption>
    </figure>
  </div>
  <img class="scroll-icon" src="/assets/images/icons/scroll-icon.svg" alt="scroll-icon" inline>
</div>
