<div class="container flow flow-l">
  <div class="split flow flow-m">
    <h1><span>Vincent</span> van Gogh</h1>
    <p class="subheading">
      one of the most famous artists in <br />the history of Western art.
    </p>
    <p>
      Vincent Willem van Gogh was a Dutch post-impressionist painter who is
      among the most famous and influential figures in the history of Western
      art. In just over a decade, he created about 2,100 artworks, including
      around 860 oil paintings, most of which date from the last two years of
      his life. <p>
        They include landscapes, still lifes, portraits and
        self-portraits, and are characterised by bold colours and dramatic,
        impulsive and expressive brushwork that contributed to the foundations of
        modern art. He was not commercially successful, and his suicide at 37 came
        after years of mental illness, depression and poverty.
      </p>
    </p>
    <a class="cta" href="https://www.vangoghmuseum.nl/en/">Learn More</a>
  </div>
  <!-- <div> -->
    <figure>
      <img
        class="center"
        src="{{ '/assets/images/gogh-portret.jpg' | url }}"
        alt="Self-Portrait with Grey Felt Hat - 1887"
      />
      <figcaption>Self-Portrait with Grey Felt Hat - 1887</figcaption>
    </figure>
  <!-- </div> -->
  <img class="hide" src="/assets/images/icons/scroll-icon.svg" alt="scroll-icon" inline />
</div>
