.btn {
  display: block;
  width: 100%;
  background-color: $cta-color-primary;
  text-decoration: none;
  color: $text-color-light;
  cursor: pointer;
  padding: 0.7em;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  font-size: 1.125rem;
}

.btn.cta {
  max-width: 350px;
  margin: 0 auto;

  @include mq(lg) {
    margin: unset;
    text-align: center;
    max-width: 200px;
  }
}
