---
layout: "base.njk"
---

<header class="header bg-dark">{% include "header.njk" %}</header>

<section class="hero">{% include "hero.njk" %}</section>

<section class="art" id="art">{% include "art.njk" %}</section>

<footer class="footer">{% include "footer.njk" %}</footer>
