<!DOCTYPE html>
<html lang="{{ sitedata.language }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <title>{{ sitedata.title }}</title>
</head>
<body>
  {{ content | safe }}

  <script type="module" src="{{ '/assets/js/index.js' | url }}"></script>
</body>
</html>
