<div>{% formatSlides slides %}</div>
<div>
  <button hidden>
    <span>Show previous slide</span>
    <img
      src="{{ '/assets/images/icons/arrow-left.svg' | url }}"
      alt="left arrow"
      inline
    />
  </button>
  <ol>
    {% for slide in slides %}
    <li data-index="{{ loop.index - 1 }}">
      <button>go to slide {{ loop.index }}</button>
    </li>
    {% endfor %}
  </ol>
  <button hidden>
    <span>Show next slide</span>
    <img
      src="{{ '/assets/images/icons/arrow-right.svg' | url }}"
      alt="right arrow"
      inline
    />
  </button>
</div>
